#footer { 
    font-family: 'Roboto', sans-serif;
    position: fixed; 
    overflow: auto;
    color: white;
    margin-top: 2em;
    padding: 10px 10px 0px 10px; 
    bottom: 0; 
    width: 100%; 
    /* Height of the footer*/  
    height: 40px; 
    background:#3f51b5; 
    text-align: center;
} 