<div class="card shadow1">
    <div style="display:inline-flex;">
    <h1>Migration</h1>
    <div *ngIf="success" class="not-card" style="background-color: green;">Success</div>
    <div *ngIf="failure" class="not-card" style="background-color: red;">Failure</div>
    <div *ngIf="pending" class="not-card" style="background-color: yellow;color: black;">Pending</div>
    </div>
  </div>
<!-- <div *ngFor="let columnData of columnDataArray" style="display:inline-flex;">
<div class=" card1 shadow2">
    <p class="p-style">Run ID: {{columnData.runId}}</p>
    <p class="p-style">Application Name: {{appName}}</p> 
    <p class="p-style">Table name: {{columnData.tableName}} </p>
    <p class="p-style">Column name: {{columnData.columnName}}</p>
    <p class="p-style">Rule name: {{columnData.ruleName}}</p>
    <p class="p-style">Job status: {{columnData.jobStatus}}</p>
    <p class="p-style">Job start time: {{columnData.jobStartTime}}</p>
    <p class="p-style">Job end time: {{columnData.jobEndTime}}</p>
    <p class="p-style">Source count: {{columnData.sourceCount}}</p>
    <p class="p-style">Target count: {{columnData.targetCount}}</p>
    <p class="p-style">Reason: {{columnData.reason}}</p>
</div>
</div> -->

<div class="card1 shadow1">
<table>
    <tr>
        <th *ngFor="let column of headers">
            {{column}}
        </th>
    </tr>
    <tr *ngFor = "let row of columnDataArray">
        <td>{{row.runId}}</td>
        <!-- <td>{{appName}}</td> -->
        <td>{{row.tableName}}</td>
        <td>{{row.columnName}}</td>
        <td>{{row.ruleName}}</td>
        <td>{{row.jobStatus}}</td>
        <td>{{row.jobStartTime}}</td>
        <td>{{row.jobEndTime}}</td>
        <td>{{row.sourceCount}}</td>
        <td>{{row.targetCount}}</td>
        <td>{{row.reason}}</td>
    </tr>
</table>
</div>
<app-footer></app-footer>