body {
    background: #fafafa;
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }
  
  h2 {
    margin-top: 0;
  }
  
  .card {
    padding: 26px;
    background: #fff;
    /* max-width: 360px; */
    border-radius: 20px;
    height: 60px;
    margin: 6px auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .card1{
    padding: 10px;
    background: #fff;
    /* max-width: 360px; */
    border-radius: 20px;
    height: auto;
    margin: 6px auto;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 60px;
    overflow-y: scroll;
    max-height: 40em;


  }

  .not-card{
    width: 123px;
    font-size: 1.5em;
    text-align: center;
    /* padding-top: 0px; */
    color: white;
    border-radius: 20px;
    height: -7px;
    max-height: 35px;
    margin: 6px auto;
    margin-top: 23px;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .highlight {
    font-weight: bold;
    color: #294;
  }
  
  .shadow1 { 
    box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
  }
  
  .shadow2 { 
    box-shadow: 0 7px 30px -10px rgba(150,170,180,0.5);
  }

  .span-style{
      font-style: 1em;
  }

  /* body{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  } */

  td,th{
    border:.2px solid #ddd;
    padding: 8px;
  }

  tr:nth-child(even){
    background-color: #f2f2f2;
  }

  tr:hover{
    background-color: #ddd;
  }

  th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #3f51b5;
    color: white;
  }

  table {
    display: table;
    border-collapse: separate;
    border-spacing: 0;
    border-color: grey;
    border-radius: 20px;
}