<br/><br/>
<div class="container" style="float:left;">
	<form id="signIn" class="signIn">
		<h3>Create Your Account</h3>
		<input class="w100" type="email" placeholder="Enter eMail" reqired autocomplete='off' />
		<input type="password" placeholder="Enter Password" reqired />
        <input type="password" placeholder="Verify Password" reqired />
		<button class="form-btn sx log-in" type="button" (click)="logIn($event)">Log In</button>
		<button class="form-btn dx" type="submit">Sign Up</button>
	</form>
	<form id="signUp" [formGroup]="form" class="signUp">
		<h3>Welcome<br/>Back !</h3>
		<div *ngIf = "show"><p style="font-size:14px;color:red">Entered email or password is wrong</p></div>
		<input type="email" placeholder="Enter eMail" formControlName="logInEmail" autocomplete='off' reqired />
        <input type="password" placeholder="Enter Password" formControlName="logInPassword" reqired />        
        <p style="font-size:14px;">Forgot password?</p>
		<button class="form-btn sx back" type="button" (click)="back($event)">Sign IN</button>
		<button class="form-btn dx" type="submit" (click)="SignIn(form.value)">Log In</button>
	</form>
</div>

<app-footer></app-footer>