.rectangleContainer{
    width: auto;
    height: 15em;
    align-content: center;
    margin-left: 21em;
    margin-top: 2em;
    border-radius: 7%;
    padding: 1em;
    margin-bottom: 10em;
}

.leftMargin{
    margin-left: 2.5em;
}

.buttonStyle{
    margin-left:2.5em;
    margin-bottom:.5em;
}