<div class="rectangleContainer">
<mat-form-field class="leftMargin">
    <mat-label>Application Name</mat-label>
    <mat-select [(ngModel)]="applicationCode" name="appName" (selectionChange)="filterData()">
      <mat-option *ngFor="let appName of applicationInfo" [value]="appName">
        {{appName.appl_name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br/>
  <mat-form-field *ngIf="show" class="leftMargin">
    <mat-label >Object Name</mat-label>
    <mat-select [(ngModel)]="objectName" name="appName">
      <mat-option *ngFor="let sourceName of sourceTargetInfo" [value]="sourceName.TGT_TBL_NM">
        {{sourceName.TGT_TBL_NM}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br/><br/>
  <button mat-raised-button color="primary" class="buttonStyle" (click)="displayInfo()">Display</button><br/>
  <button mat-raised-button color="primary" class="leftMargin">Seeing Src/Target data</button>
  </div>
  <app-footer></app-footer>
  <router-outlet></router-outlet>